$buttons: (
	'zero',
	'one',
	'two',
	'three',
	'four',
	'five',
	'six',
	'seven',
	'eight',
	'nine',
	'dot',
	'divide',
	'mult',
	'minus',
	'plus',
	'del',
	'reset',
	'equal' 
);

.page-wrapper {
	min-height: 100vh;
	padding: 2rem 1.5rem;
}

.title {
	font-size: var(--fs-600);
	margin-bottom: 2rem;
}

.screen {
	background-color: var(--clr-bg-screen);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: var(--fs-600);
	padding: 1rem 1.25rem;
	margin-bottom: 1.5rem;
	border-radius: 9px;
}

.keypad {
	padding: 1.5rem;
	background-color: var(--clr-bg-keypad);
	border-radius: 10px;

	display: grid;
	grid-template-columns: repeat(4, 22%);
	grid-template-rows: repeat(5, 1fr);
	gap: 1rem 4%;


	grid-template-areas: 
		'seven	eight	nine	del'
		'four	five	six		plus'
		'one	two		three	minus'
		'dot	zero	divide	mult'
		'reset	reset	equal	equal';

	@each $button in $buttons {
		button[data-name='#{$button}'] {
			grid-area: #{$button};
		}
	}

	&__button {
		border: 0;
		border-radius: 5px;

		width: 100%;
		font-size: var(--fs-500);

		display: flex;
		align-items: center;
		justify-content: center;

		&--input,
		&--operation {
			aspect-ratio: 1;
			background-color: var(--clr-key-primary);
			color: var(--clr-text-dark);
			box-shadow: 0 6px var(--clr-key-primary-shadow);
		}

		&--control {
			font-size: var(--fs-400);
			// color: var(--clr-text-light);
			background-color: var(--clr-key-secondary);
			color: #fff;
			box-shadow: 0 6px var(--clr-key-secondary-shadow);
		}

		&--equal {
			background-color: var(--clr-key-accent);
			box-shadow: 0 6px var(--clr-key-accent-shadow);
		}
	}

}